    body{
        
        background-color: #A9D9FF;
        
    }
    header{
        display: flex;
        background-color: #124F80;
        width: 85.4rem;
        height: 3.3rem;
        margin-left: -8px;
        margin-top: -8px;
    }
    #menuHamburguesa{
        cursor: pointer;
    }
    .menu {
        display: none; 
        
    }
    .open {
        display: flex;
        position: absolute;
        margin-top: 51px;
        width: 200px;
        background-color: #124F80;
    }
    .carrusel{
        display: flex;
        justify-content: center;
        flex-direction: row;
        


    }

    .card_chiquita{ background-color: #124F80;
        display:flex;
        border-radius: 16px;
        width: 160px;
        height: 189px;
        margin-left: 12px;
        margin-right: 12px;
        flex-direction: column;
        margin-bottom: 30px;
    
        color: #A9D9FF;
        align-items: center;
        

    }
    .image_card_chiquita{

        width: 140px;
        height: 97px;
        margin-top: 15px;
        border-radius: 10px;

    }
    .card_game{
        background-color: #124F80;
        display:flex;
        border-radius: 16px;
        width: 316px;
        height: 354px;
        margin-left: 12px;
        margin-right: 12px;
        flex-direction: column;
        margin-bottom: 30px;
    
        color: #A9D9FF;
        align-items: center;
        
    }
    .image_card_game{
        width: 294px;
        height: 204px;
        margin-top: 15px;
        border-radius: 10px;


    }
    .boton_jugar{
        font-family: Arial, Helvetica, sans-serif;
        background-color: #1E90FF;
        border-radius: 16px;
        margin-bottom: 15px;
        margin-top: 10px;
        width: 297px;
        height: 40px;
        color: #A9D9FF;
        align-self: center;
        display: flex;
        justify-content: center ;
        align-items: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .boton_comprar_mini{  
        font-family: Arial, Helvetica, sans-serif;
        background-color: #FFDF33   ;
        border-radius: 16px;
        margin-bottom: 5px;
        width: 140px;
        height: 30px;
        color: #806F00  ;
        align-self: center;
        display: flex;
        margin-top: 8px;
        justify-content: center ;
        align-items: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .boton_carrito_mini{
        font-family: Arial, Helvetica, sans-serif;
        background-color: #B34A34   ;
        border-radius: 16px;
        margin-bottom: 5px;
        width: 140px;
        height: 30px;
        color: #FF998B  ;
        align-self: center;
        display: flex;
        margin-top: 8px;
        justify-content: center ;
        align-items: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;


    }
    h1,h2{
        align-self: flex-start;
        margin-top: 1px;
        margin-bottom: 1px; 
        margin-left: 15px;
        font-family: Arial, Helvetica, sans-serif;

    }

    h4,h5{
        align-self: flex-start;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: -1px;
        margin-top: 1px;
        margin-left: 12px;
    }


    .circulito{
        background-color: #1E90FF;
        border-radius: 50%;
        width: 26px;
        height: 26px;
        margin: 5px;

    }

    /* cosas del form registro*/

    .padre-registro{

        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 38%;
        flex-direction: column;
        border-radius: 8px;
        width: 362px;
        height: 1122px;
        margin-top: 81px;
        background-color: #1668B3;
    }
    .padre-login{

        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 38%;
        flex-direction: column;
        border-radius: 8px;
        width: 362px;
        height: 525px;
        margin-top: 81px;
        background-color: #1668B3;
    }
    .registro{
        display: block;
        color: #A9D9FF;
        padding: 3%;
        margin: 3%;
    }
    .contenedor-usuarios-padre{
        display: flex;
        justify-content: center;
        flex-direction: column  ;
        justify-items: center;
    }
    .btn_azul_oscuro{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: #124F80;
        width: 318px;
        height: 33px;
        border-radius: 16px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .form{
        margin-top: 20px;
    }
    input[type=password]{
        width: 272px;
        height: 40px;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #124F80;
        border-radius: 8px;
        box-sizing: border-box;
        background-color: #1E90FF;
    }

    input[type=text]{
        width: 272px;
        height: 40px;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
    border: 1px solid #124F80;
        border-radius: 8px;
        box-sizing: border-box;
        background-color: #1E90FF;
        
    }
    span{
        
        border-bottom: solid 2px #A9D9FF ;
    }
    .btn_ingresar{

        font-family: Arial, Helvetica, sans-serif;
        background-color: #1E90FF   ;
        border-radius: 16px;
        margin-bottom: 5px;
        width: 318px;
        height: 42px;
        color: #A9D9FF  ;
        align-self: center;
        display: flex;
        margin-top: 8px;
        justify-content: center ;
        align-items: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;




    }