*{
    color: white;
}
.pantalla-juego{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2000px;
    height: 1000px;
}
.pantalla-juego h2{
    font-size: 40px;
}
.pantalla-juego #btn-jugar-especial{
    padding: 14px 24px;
    font-size: 20px;
    border-radius: 10px;
    background-color: green;
    border: none;
    cursor: pointer;
}
.oculto{
    display: none;
}
.previsualizacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pantalla-juego #btn-jugar-especial:hover {
    background-color: rgb(120, 179, 32);
}


#animacion-carga{
    border: 1px solid;
    border-radius: 4px;
    width: 500px;
    position: relative;
    height: 26px;
    overflow: hidden;

}

#animacion-carga::after{
    content: "";
    width: 80px;
    height: 22px;
    background-color: rgb(207, 207, 207);
    position: absolute;
    top:2px;
    left: 5px;
    animation: carga 2s linear infinite;
}

@keyframes carga{
    from{
        transform: translateX(-20px) skewX(10deg);
    }
    to{
        transform: translateX(500px) skewX(10deg);
    }
    
}
.contenedor-modos-tablero-activo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}
#tituloJuego{
    width: 500px;
    height: auto;
    margin-bottom: 20px;
    animation: entraTituloJuego 2s linear forwards;
}

.btn-tipoTablero{
    border: none;
    border-radius: 10px;
    background-color: cornflowerblue;
    padding: 14px 20px;
    font-size: 20px;
}
.btn-tipoTablero:hover{
    background-color: rgb(79, 118, 189);
}

.btn-tipoTablero:focus{
    background-color: rgb(79, 118, 189);
    
}