*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
html, body {
    height: 100%; /* Asegura que el cuerpo y html ocupen el 100% de la altura */
    background-color: #FFEF99;
    font-family: sans-serif;
}
.contenedorLoader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    background-color: #124F80;
    text-align: center;
    position: relative;
    color: #fff;
}

/* Estilo del spinner */
.spinner {
    width: 80px;
    height: 80px;
    border: 6px solid rgba(255, 255, 255, 0.3);
    border-top: 6px solid #FFEF99;
    border-radius: 50%;
    animation: spin 1s ease-out infinite;
    margin-bottom: 20px;
    box-shadow: 0 0 20px #FFEF99;
}

/* Animación del spinner */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Texto de porcentaje */
.progreso {
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0 0 10px #FFEF99, 0 0 20px #FFEF99;
}

/* Estilos del contenido de la página */
.paginaGral {
    text-align: center;
    color: #FFEF99;
    display: none;
}


/*HEADER*/
header{
    display: flex;
    justify-content: space-between;
    background-color: #124F80;
    width: auto;
    height: auto;
    
}
a{
    text-decoration: none;
    color: #A9D9FF;
}
header .btn{
    cursor: pointer;
    margin-top: 5px;
}
.ocultar {
    display: none; 
    
}
.open {
    display: flex;
    position: absolute;
    margin-top: 3.6rem;
    width: 200px;
    background-color: #124F80;
    border-bottom-right-radius: 10px;
}
nav a  {
    color: #124F80;
    
  }

header ul { 
    height: 384px;
}
    
header li, .nuestrasRedes{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2px;
    padding-left: 10px;
    width: 11.78rem;
    height: 2rem;
    background-color: #A9D9FF;
    
}
.nuestrasRedes{
    height: 4rem;
    color: #124F80;
    border-bottom-right-radius: 10px;
    padding-bottom: 10px;
    
}
.imgRedes{  
   display:  flex;
   justify-content: space-between;
}
.searchBar{
    display: flex;
    background-color:#A9D9FF;
    width: 35rem;
    height: 2.2rem;
    border-radius: 10px;
    margin-top: 0.5rem;
    margin-left: 5.5rem;
}

.searchBar input{
    background-color: #A9D9FF;
    border: none;
    outline: none;
    width: 25rem;
    height: 1rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
.mostrarOpciones{
    background-color: #124F80;
    width: 178px;
    height: 128px;
    margin-top: 3.5rem;
    color: #A9D9FF;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute; 
    align-items: center;
    border-bottom-left-radius: 20px;


      
}
.botonesUsuario{
    margin-left: auto;
}
.opcionesPerfil, .infoUsuario{
    display: flex;
    justify-content: flex-end;  
    
}
.opcionesUsuario{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-right: 1.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
}


/*Main*/
.carrusel{
    display: flex;
    justify-content: center;
    flex-direction: row;
    


}

.card_chiquita{ background-color: #124F80;
    display:flex;
    border-radius: 16px;
    width: 160px;
    height: 189px;
    margin-left: 12px;
    margin-right: 12px;
    flex-direction: column;
    margin-bottom: 30px;

    color: #A9D9FF;
    align-items: center;
    

}
.image_card_chiquita{

    width: 140px;
    height: 97px;
    margin-top: 15px;
    border-radius: 10px;

}
.card_game{
    background-color: #124F80;
    display:flex;
    border-radius: 16px;
    width: 273px;
    height: 306px;
    margin-left: 12px;
    margin-right: 12px;
    flex-direction: column;
    margin-bottom: 30px;

    color: #A9D9FF;
    align-items: center;
    
}
.card_game img{
    width: 255px;
    height: 172px;
    margin-top: 15px;
    border-radius: 10px;


}
.card_game button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1E90FF;
    border-radius: 16px;
    width: 240px;
    height: 62px;
    color: #A9D9FF;
    align-self: center;
    display: flex;
    justify-content: center ;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.boton_comprar_mini{  
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFDF33   ;
    border-radius: 16px;
    margin-bottom: 5px;
    width: 140px;
    height: 30px;
    color: #806F00  ;
    align-self: center;
    display: flex;
    margin-top: 8px;
    justify-content: center ;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.boton_carrito_mini{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #B34A34   ;
    border-radius: 16px;
    margin-bottom: 5px;
    width: 140px;
    height: 30px;
    color: #FF998B  ;
    align-self: center;
    display: flex;
    margin-top: 8px;
    justify-content: center ;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}
h1,h2{
    align-self: flex-start;
    margin-top: 1px;
    margin-bottom: 1px; 
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;

}

h4,h5{
    align-self: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: -1px;
    margin-top: 1px;
    margin-left: 12px;
}


.circulito{
    background-color: #1E90FF;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    margin: 5px;

}

/* cosas del form registro*/

.padre-registro{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 38%;
    flex-direction: column;
    border-radius: 8px;
    width: 362px;
    height: 1122px;
    margin-top: 81px;
    background-color: #1668B3;
}
.padre-login{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 38%;
    flex-direction: column;
    border-radius: 8px;
    width: 362px;
    height: 525px;
    margin-top: 81px;
    background-color: #1668B3;
}
.registro{
    display: block;
    color: #A9D9FF;
    padding: 3%;
    margin: 3%;
}
.contenedor-usuarios-padre{
    display: flex;
    justify-content: center;
    flex-direction: column  ;
    justify-items: center;
}
.btn_azul_oscuro{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #124F80;
    width: 318px;
    height: 33px;
    border-radius: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.form{
    margin-top: 20px;
}
.form input[type=password]{
    width: 272px;
    height: 40px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #124F80;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #1E90FF;
}

.form input[type=text]{
    width: 272px;
    height: 40px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
border: 1px solid #124F80;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #1E90FF;
    
}
span{
    
    border-bottom: solid 2px #A9D9FF ;
}
.btn_ingresar{

    font-family: Arial, Helvetica, sans-serif;
    background-color: #1E90FF   ;
    border-radius: 16px;
    margin-bottom: 5px;
    width: 318px;
    height: 42px;
    color: #A9D9FF  ;
    align-self: center;
    display: flex;
    margin-top: 8px;
    justify-content: center ;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;




}

/*FOOTER*/
.pageContainer {
    display: flex; /* Aplica flexbox al contenedor */
    flex-direction: column; /* Organiza los elementos en columnas */
    min-height: 100vh; /* Asegura que el contenedor ocupe al menos el 100% de la altura de la ventana */
}

footer {
    margin-top: auto;
    background-color: #124f80;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente las secciones */

}

.footer-list {
    display: flex;
    justify-content: space-between; /* Espacia uniformemente las columnas */
    flex-wrap: wrap; /* Permite que los elementos se ajusten en varias filas si el espacio es limitado */
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%; /* Ocupa todo el ancho disponible */
    max-width: 1200px; /* Limita el ancho máximo del footer */
}

.footer-list li {
    flex: 1; /* Cada columna ocupa el mismo ancho */
    min-width: 150px; /* Ancho mínimo de cada columna */
    margin-bottom: 20px;
    text-align: left; /* Alinea el texto a la izquierda */
}

.footer-list ul {
    font-family: Arial, Helvetica, sans-serif;
    color: #A9D9FF;
    padding: 0;
    list-style: none;
}

.tituloFooter {
    font-family: Arial, Helvetica, sans-serif;
    color: #A9D9FF;
    font-weight: bold;
    margin-bottom: 10px;
    align-self: flex-start; /* Alinea el título al inicio */
}

.containerRedes {
    display: flex; /* Mantiene la disposición de las imágenes en fila */
    justify-content: flex-start; /* Alinea las imágenes al inicio horizontalmente */
    gap: 10px; /* Añade espacio entre las imágenes */
}

.containerRedes li {
    list-style: none;                /* Elimina los puntos de la lista */
    margin: 0;
    padding: 0;
}

.containerRedes img {
    width: 32px;                     /* Ajusta el tamaño de las imágenes */
    height: 32px;   
}

#copyright {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px; /* Espacio entre el contenido y el copyright */
    text-align: center;
    font-size: 14px;
    color: #A9D9FF;
    width: 100%;
}
/* Estilos generales */



/* Fuentes personalizadas para darle un estilo más de videojuegos */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

