/* CSS básico */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

#config {
    margin-bottom: 20px;
}

#juego {
    display: flex;
    align-items: center;
}

#tablero {
    display: grid;
    gap: 5px;
    margin: 0 20px;
    position: relative;
}

.fichas {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    height: 300px;
    gap: 15px;
    justify-content: space-around;
    align-content: space-between;
    position: relative;
}

.ficha {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

/* Estilos de casillero y jugadores */
.casillero {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jugador1 {
    background-color: red;
}

.jugador2 {
    background-color: yellow;
}

#mensajeGanador {
    font-size: 1.5em;
    color: green;
    margin-top: 20px;
}
