@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  max-width: 1280px;
  font-family: "Lato";
}
.oculto {
  display: none;
}

a {
  text-decoration: underline;
  color: #ffffff;
}

header {
  position: absolute;
  width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
}
.stickyHeader {
  position: sticky;
  height: 103px;
  top: 0px;
  background: linear-gradient(
    180deg,
    rgba(0, 209, 213, 1) 16%,
    rgba(0, 209, 213, 0.12) 88%,
    rgba(1, 208, 213, 0) 100%
  );
}
.stickyHeader img {
  position: absolute;
  top: 6px;
  left: 565px;
  width: 150px;
  height: 86px;
  transform: translateY(-10px);
  transition: all 0.5s ease;
}
header > div {
  display: flex;
  justify-content: space-between;
}
header nav {
  position: absolute;
  top: 70px;
  left: 100px;
}
header li {
  border: solid 2px white;
  border-radius: 10px;
  text-align: center;
  margin: 4px;
  background-color: #83c252;
  box-shadow: 4px 5px #02187e;
  padding: 4px;
}
header a {
  text-decoration: none;
  font-weight: 600;
}
.menuHambNB {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 100px;
  top: 20px;
}
.menuHambNB div {
  width: 34px;
  height: 4px;
  border: solid;
  border-radius: 111px;
  border-color: white;
  background-color: #f39e46;
  box-shadow: 4px 5px #02187e;
  cursor: pointer;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.menuHambNB.open .barra1 {
  animation-name: barra1-animado;
}
.menuHambNB.open .barra2 {
  animation-name: barra2-animado;
}
.menuHambNB.open .barra3 {
  animation-name: barra3-animado;
}
.menuHambNB .barra1 {
  animation-name: barra1-animado-cerrar;
}
.menuHambNB .barra2 {
  animation-name: barra2-animado-cerrar;
}
.menuHambNB .barra3 {
  animation-name: barra3-animado-cerrar;
}
@keyframes barra1-animado {
  50%,
  100% {
    transform: translateY(12px) rotate(-45deg);
    box-shadow: none;
  }
}
@keyframes barra2-animado {
  20%,
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes barra3-animado {
  50%,
  100% {
    transform: translateY(-7px) rotate(45deg);
    box-shadow: none;
  }
}
@keyframes barra1-animado-cerrar {
  0% {
    transform: translateY(12px) rotate(-45deg);
    box-shadow: none;
  }
  50%,
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}
@keyframes barra2-animado-cerrar {
  0% {
    width: 0;
    opacity: 0;
  }
  50%,
  100% {
    width: 34px;
    opacity: 1;
  }
}
@keyframes barra3-animado-cerrar {
  0% {
    transform: translateY(-7px) rotate(45deg);
    box-shadow: none;
  }
  50%,
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}
.btn-comprarNB {
  position: absolute;
  right: 100px;
  top: 20px;
  padding: 16px 43px 15px 43px;
  border: solid;
  border-width: 8px;
  border-radius: 111px;
  border-color: white;
  background-color: #83c252;
  box-shadow: 4px 5px #02187e;
  color: white;

  font-weight: 900;
  font-size: 20px;
  -webkit-text-stroke: 1px;
  letter-spacing: 2px;
  line-height: 94.5%;
}

.btn-comprarNB:hover {
  transition: 0.5s;
  transform: scale(1.1);
  box-shadow: 0 0 50px white;
  background-color: #ceb812;
}
header img {
  position: absolute;
  width: 560px;
  height: 320px;
  left: 360px;
}
.section1 {
  background-image: url(../imagesNB/fondoNB.svg);
  height: 959px;
  overflow: hidden;
  position: relative;
  z-index: -10;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#arbol1 {
  margin-top: 0.69px;
  margin-left: -150px;
}
#arbol2 {
  position: absolute;
  left: 881px;
  bottom: 179px;
}
#arbol3 {
  position: absolute;
  bottom: 249px;
  left: 1081px;
  z-index: -2;
}
#arbusto1 {
  position: absolute;
  top: 719px;
  left: 161px;
  z-index: -1;
  animation: llegada ease-out;
}
#arbusto2 {
  position: absolute;
  bottom: 39px;
  left: 197px;
  z-index: 2;
}
#arbusto3 {
  position: absolute;
  bottom: 189px;
  right: -33px;
  z-index: -1;
}
#arbusto4 {
  position: absolute;
  z-index: -3;
  bottom: 265px;
  right: 59px;
}
#piedra1 {
  position: absolute;
  top: 793px;
  left: 129px;
  z-index: 1;
}
#piedra2 {
  position: absolute;
  right: 177px;
  bottom: 164px;
}
#piedra3 {
  position: absolute;
  right: 92px;
  bottom: 147px;
  z-index: 1;
}
#piedra4 {
  position: absolute;
  right: 177px;
  bottom: 137px;
  z-index: 2;
}
#pj2 {
  position: absolute;
  left: 536px;
  bottom: 259px;
  z-index: -1;
}
#pj3 {
  position: absolute;
  right: 355px;
  bottom: 215px;
  z-index: -2;
}

/*Seccion 2*/

#carruselFotos {
  position: relative;
  width: 100%; /* Ajusta según el tamaño deseado */
  height: auto;
  overflow: hidden;
}

#carruselFotos img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ajusta según el tamaño deseado */
  height: auto;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#carruselFotos img.active {
  opacity: 1;
  z-index: 1;
}

.section2 {
  background-image: url(../imagesNB/fondoNBs2.svg);
  background-repeat: no-repeat;
  position: relative;
  height: 1852px;
  z-index: -10;
}
.section2 h1 {
  position: absolute;
  top: 55px;
  left: 100px;
  color: #1b428f;
  width: 508px;
  height: 132px;
  font-weight: 600;
  font-size: 47px;
}
.section2 p {
  margin-top: 22px;
  position: absolute;
  top: 214px;
  left: 100px;
  color: #1b428f;
  width: 700px;
  height: 154px;
  font-size: 20px;
}
#pj4 {
  position: absolute;
  top: 566px;
  left: 48px;
  animation: llegada ease-in;
  animation-timeline: view();
  animation-range: entry 0;
  animation-fill-mode: both;
  animation-delay: 50ms;
}
@keyframes llegada {
  0% {
    transform: translateX(-200px) scale(0);
    opacity: 0%;
  }
  70% {
    transform: translateX(55px);

    opacity: 1;
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}
#pj5 {
  position: absolute;
  top: -87px;
  left: 787px;

  animation: rebote ease-in;
  animation-timeline: view();
  animation-range: entry 0;
  animation-fill-mode: both;
}

@keyframes rebote {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }

  60% {
    transform: translateX(0px) rotate(30deg);
    opacity: 1;
  }
  90% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0);
  }
}
.section2 #carruselFotos {
  margin-top: 26px;
  position: absolute;
  width: 518px;
  height: 266px;
  left: 230px;
  top: 331px;
  z-index: -1;
  border: solid 29px #1b5f99;
  border-radius: 77px;
  overflow: hidden;
}

.section2 div img {
  width: 516px;
  height: 290px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 332px;
  height: 302px;

  animation: showY ease;
  animation-timeline: view();

  animation-fill-mode: both;
}

@keyframes showY {
  0% {
    transform: translateY(100px);
    opacity: 0%;
  }
  30%{
    opacity: 20%;
  }
80%{
  opacity: 1;
}
  100% {
    transform: translateY(0px);
 
  }
}
.card p {
  margin-top: 93px;
  width: 333px;
  height: 218px;
  color: black;
}
#card1 {
  position: absolute;
  bottom: 329px;
}

#card2 {
  position: absolute;
  left: 373px;
  bottom: 329px;
  
}

#card3 {
  position: absolute;
  left: 747px;
  bottom: 329px;
}

/*Seccion 3*/
.section3 {
  position: relative;
  z-index: -10;
  background-image: url(../imagesNB/fondoNBs3.svg);
  height: 1157px;
  overflow: hidden;
}
.section3 h1 {
  position: absolute;
  top: 175px;
  left: 165px;
  font-size: 61px;
  color: #ffffff;
  width: 950px;
  height: 153px;
  line-height: 110%;
  font-weight: 600;
  text-align: center;
}
.section3 h1 span {
  font-weight: bold;
  font-style: italic;
}
.section3 button {
  position: absolute;
  top: 390px;
  left: 370px;
  width: 540px;
  height: 66px;
  line-height: 110%;
  font-size: 31px;
  background-color: #83c252;
  border: solid #ffffff 8px;
  border-radius: 111px;
  box-shadow: 4px 5px #02187e;
  -webkit-text-stroke: 1px;
  color: #ffffff;
}

.section3 img {
  position: relative;
  top: 390px;
  z-index: 1;
  transition: transform 0.1s ease-out;
  width: auto;
  height: auto;
}

/* Seccion 4*/
.section4 {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 5421px;
}
.section4 h1 {
  position: absolute;
  top: 174px;
  left: 100px;
  font-size: 60px;
  font-weight: 600;
  line-height: 94.5%;
}
.imagenesScroll,
.textoScroll {
  position: absolute;
  width: 467px;
  display: flex;
  flex-direction: column;
}
.imagenesScroll {
  display: block;
  top: 299px;
  left: 243px;
}
.imagenesScroll img {
  align-self: start; /* Evita que las imágenes se estiren */
  width: auto; /* Mantiene el ancho natural de la imagen */
  height: auto; /* Mantiene la altura natural de la imagen */
}
.container_pj {
  position: sticky;

  margin-top: -50px;
}
.textoScroll {
  top: 390px;
  right: 100px;
}
.textoScroll div {
  margin-bottom: 269px;
}
.textoScroll h3 {
  font-size: 40px;
  margin-bottom: 15px;
}
.textoScroll p {
  font-size: 20px;
}

.pj_scroll {
  margin-right: 50px;
  margin-top: -30px;
  animation: sec4 ease-in;
  animation-timeline: view();
  animation-range: entry 0;
  animation-fill-mode: both;
}
@keyframes sec4 {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }

  60% {
    transform: translateX(0px) rotate(30deg);
    opacity: 1;
  }
  80% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0);
  }
}

/* Seccion 5*/
.section5 {
  background-image: url(../imagesNB/fondoNBs5.svg);
  position: relative;
  height: 1443px;
}
.section5 h1 {
  position: absolute;
  top: 308px;
  left: 100px;
  color: white;
  font-size: 60px;
  font-weight: 600;
  width: 802px;
}
.section5 img {
  position: absolute;
  top: 351px;
  bottom: 103px;
  left: 731px;
  z-index: 2;
}
.section5 div {
  width: 746px;
  height: 365px;
  margin-top: 43px;
  position: absolute;
  top: 525px;
  left: 100px;
  border: solid 29px white;
  border-radius: 45px;
  z-index: 1;
}
.section5 iframe {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.pj_sec5 {
  animation: sec5 ease-in;
  animation-timeline: view();
  animation-range: entry 0;
  animation-fill-mode: both;
}
.video_yt {
  animation: showY ease-in;
  animation-timeline: view();
  animation-range: entry 0;
  animation-fill-mode: both;
  animation-delay: 3s;
}

.section5 h1 {
  animation: llegada ease-in;
  animation-timeline: view();
  animation-range: entry 40%;
  animation-fill-mode: both;
}
@keyframes sec5 {
  0% {
    transform: translateY(-300px);
    opacity: 10%;
  }
  80% {
    transform: translateY(50px);
    opacity: 90%;
  }
  100% {
    transform: translateY(0px);
    opacity: 100%;
  }
}

/*Seccion 6*/
.section6 {
  position: relative;
  height: 1034px;
}
.section6 h1 {
  position: absolute;
  top: 220px;
  left: 100px;
  width: 746px;
  color: #9d2121;
  font-size: 60px;
  font-weight: 600;
}
.section6 p {
  position: absolute;
  top: 591px;
  left: 100px;
  width: 467px;
  font-size: 20px;
}
.section6 #pj13D {
  position: absolute;
  top: 7px;
  right: 14px;
}
/*Seccion 7*/
.section7 {
  position: relative;
  background: linear-gradient(
    45deg,
    #ae191b,
    #1aa3ad,
    #d58530,
    #361681,
    #b8a40d,
    #38ae00,
    #ac1e71,
    #635f5b,
    #ffffff
  );
  height: 729px;
  width: 1280px;
}
.section7 img {
  margin: 5px;
  width: 243px;
  height: 350px;
}

.section7 img:hover {
  transition: 0.5s ease-in-out;
  transform: scale(1.25);
  box-shadow: 0 0 150px whitesmoke;
}
/* Seccion 8*/
.section8 {
  position: relative;
  height: 1572px;
}
.section8 h1 {
  width: 816px;
  position: absolute;
  left: 100px;
  top: 190px;
  font-size: 60px;
  font-weight: 600;
}

.section8 div {
  position: absolute;
  top: 433px;
  left: 100px;
}
.section8 #suscribirse {
  position: absolute;
  top: 433px;
  left: 100px;
  border-radius: 50px;
  box-shadow: 4px 5px #02187e;
}
.section8 div input {
  width: 562px;
  height: 100px;
  padding-left: 52px;
  font-size: 20px;
}
.section8 div button {
  width: 218px;
  height: 100px;
  background-color: #83c252;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: solid 9px white;
  color: white;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 11%;
}
.section8 p {
  position: absolute;
  top: 589px;
  left: 100px;
  width: 578px;
  height: 95px;
  font-size: 20px;
}
.section8 p span {
  text-decoration: underline;
}
.section8 img {
  position: absolute;
  top: 700px;
  left: 100px;
}
#nubeAlta {
  left: 794px;
  top: 547px;
  z-index: 1;
}
#nubeMedia {
  left: 962px;
  top: 600px;
}
#nubeBaja {
  top: 844px;
  right: 949px;
}
.section8 #gifs {
  height: 389px;
  background-image: url(../imagesNB/fondoNBs8.svg);
  background-repeat: no-repeat;
  position: relative;
  top: 1181px;
  left: 0px;
}
#gift1 {
  position: absolute;
  bottom: 42px;
  left: 65px;
}
#gift2 {
  position: absolute;
  bottom: 42px;
  left: 407px;
}
#gift3 {
  position: absolute;
  bottom: -40px;
  left: 756px;
}
/*FOOTER*/
footer #plataformas {
  margin-top: -2px;
  position: relative;
  background-color: #242424;
  height: 80px;
}
footer #plataformas img {
  position: absolute;
  left: 100px;
}
footer #copyright {
  position: relative;
  height: 515px;
  background-color: #5e5e5d;
}
footer #copyright p {
  width: 820px;
  height: 361px;
  font-size: 20px;
  position: absolute;
  left: 100px;
  top: 35px;
  color: #ffffff;
}
footer #copyright img {
  position: absolute;
  bottom: 35px;
  left: 100px;
}

#sprite-footer1 {
  width: 230px;
  height: 230px;
  position: relative;
  top: -215px;
  left: 1050px;
  background: url(../imagesNB/spritesheet/sprite-footer1.png) repeat-x;
  animation: sprite1 3.5s steps(75) infinite;
}

@keyframes sprite1 {
  /* Partimos de la primera viñeta del sprite sheet */
  0% {
    background-position: 0;
  }
  /* El tamaño total de ancho del sprite. Es negativo para que no "camine" hacia atrás */
  100% {
    background-position: -17250px;
  }
}

#sprite-footer2 {
  width: 200px;
  height: 178px;
  position: relative;
  top: -415px;
  left: 650px;
  background: url(../imagesNB/spritesheet/sprite-footer2.png) repeat-x;
  animation: sprite2 0.8s steps(15) infinite;
}

@keyframes sprite2 {
  /* Partimos de la primera viñeta del sprite sheet */
  0% {
    background-position: 0;
  }
  /* El tamaño total de ancho del sprite. Es negativo para que no "camine" hacia atrás */
  100% {
    background-position: -3000px;
  }
}

#sprite-footer4 {
  background: url(../imagesNB/spritesheet/pj6.png) repeat-x;
  width: 480px; /* Ancho del frame individual */
  height: 270px; /* Alto del frame individual */
  position: relative;
  top: -300px;
  left: 800px;

  z-index: 30;
  margin-top: -600px;
  animation: sprite4 1.8s steps(40) infinite; /* Duración ajustada a 40 frames */
  margin-bottom: 1%;
}

/* Animación para el sprite */
@keyframes sprite4 {
  0% {
    background-position: 0px; /* Empieza en el primer frame */
  }
  100% {
    background-position: -20000px; /* Se mueve horizontalmente hasta el último frame */
  }
}
